
@media only screen and (min-width: 320px) and (max-width: 479px){ 
    .footer--container {
        width: 100vw;
        height: 50vh;
    }
    
    .travailX {
        top: 20vh;
        width: 100vw;
        text-align: center;
        position: relative;
    }
    .travailX p {
        width: 100vw;
        font-size: 1.7em;
        font-weight: bold;
        color: #ead2b8;
        text-align: center;
        background: #000;
        font-family: sans-serif;
        transform: scale(1.3);
        text-align: center;
        text-transform: uppercase;        
    }
    .workTop {
        left: 10px;
    }
    .workBottom {
        left: 12vw;
    }
    
    .letsWork {
        width: 100vw;
        height: 30vh;
        left: 2%;
        color: #000;
        padding: 20px 5px;
        background: #ead2b8;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        transition: background-size .5s, color .5s;
    }
    
    .myAvatar, .myImg {
        top: 5.5vh;
        height: 85%;
        position: relative;
    
    }

    .dialog {
        display: none;

        width: 20%;
        height: 12%;
        margin-left: 5%;
        margin-top: 12%;
        animation: float 5s ease-in-out infinite;
        mix-blend-mode: multiply;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 8px;
        color: #000;
        background-color: #ffa434;
        padding: 10px;
        border-radius: 11px;
        position: relative;
        box-shadow: 20px 20px #1f1f1f;
        font-family: "Baloo 2", cursive;
      }
      .dialog:after {
        transform: translatey(0px);
        animation: float2 5s ease-in-out infinite;
        content: ".";
        font-weight: bold;
        -webkit-text-fill-color: #ffa434;
        text-shadow: 22px 22px #1f1f1f;
        text-align: right;
        font-size: 55px;
        width: 55px;
        height: 11px;
        line-height: 30px;
        border-radius: 11px;
        background-color: #ffa434;
        position: absolute;
        display: block;
        bottom: -30px;
        right: -10px;
        box-shadow: 22px 22px #1f1f1f;
        z-index: -2;
      }

      .dialog2 {
        display: none;

        width: 20%;
        height: 20%;
        margin-right: 5%;
        margin-top: 12%;
        animation: float 5s ease-in-out infinite;
        mix-blend-mode: multiply;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 8px;
        color: #fff;
        background-color: #ff4133;
        padding: 10px;
        border-radius: 11px;
        position: relative;
        box-shadow: -20px 20px #1f1f1f;
        font-family: "Baloo 2", cursive;
      }
      .dialog2:after {
        transform: translatey(0px);
        animation: float2 5s ease-in-out infinite;
        content: ".";
        font-weight: bold;
        -webkit-text-fill-color: #ff4133;
        text-shadow: -22px 22px #1f1f1f;
        text-align: left;
        font-size: 55px;
        width: 55px;
        height: 11px;
        line-height: 30px;
        border-radius: 11px;
        background-color: #ff4133;
        position: absolute;
        display: block;
        bottom: -30px;
        left: -10px;
        box-shadow: -22px 22px #1f1f1f;
        z-index: -2;
      }
      
      @keyframes float {
        0% {
          transform: translatey(0px);
        }
        50% {
          transform: translatey(-20px);
        }
        100% {
          transform: translatey(0px);
        }
      }
      
      @keyframes float2 {
        0% {
          line-height: 30px;
          transform: translatey(0px);
        }
        55% {
          transform: translatey(-20px);
        }
        60% {
          line-height: 10px;
        }
        100% {
          line-height: 30px;
          transform: translatey(0px);
        }
    }
}

@media only screen and (min-width: 600px){ 
    .footer--container {
        width: 100vw;
        height: 50vh;
    }
    
    .travailX {
        top: 20vh;
        width: 100vw;
        text-align: center;
        position: relative;
    }
    .travailX p {
        width: 100vw;
        font-size: 2.5em;
        font-weight: bold;
        color: #ead2b8;
        text-align: center;
        background: #000;
        font-family: sans-serif;
        transform: scale(1.3);
        text-align: center;
        text-transform: uppercase;        
    }
    .workTop {
        left: 10px;
    }
    .workBottom {
        left: 12vw;
    }
    
    .letsWork {
        width: 100vw;
        height: 30vh;
        left: 2%;
        color: #000;
        padding: 20px 5px;
        background: #ead2b8;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        transition: background-size .5s, color .5s;
    }
    
    .myAvatar, .myImg {
        top: 10.4vh;
        height: 60%;
        position: relative;
    
    }

    .dialog {
        width: 20%;
        height: 12%;
        margin-left: 5%;
        margin-top: 12%;
        animation: float 5s ease-in-out infinite;
        mix-blend-mode: multiply;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 8px;
        color: #000;
        background-color: #ffa434;
        padding: 10px;
        border-radius: 11px;
        position: relative;
        box-shadow: 20px 20px #1f1f1f;
        font-family: "Baloo 2", cursive;
      }
      .dialog:after {
        transform: translatey(0px);
        animation: float2 5s ease-in-out infinite;
        content: ".";
        font-weight: bold;
        -webkit-text-fill-color: #ffa434;
        text-shadow: 22px 22px #1f1f1f;
        text-align: right;
        font-size: 55px;
        width: 55px;
        height: 11px;
        line-height: 30px;
        border-radius: 11px;
        background-color: #ffa434;
        position: absolute;
        display: block;
        bottom: -30px;
        right: -10px;
        box-shadow: 22px 22px #1f1f1f;
        z-index: -2;
      }

      .dialog2 {
        width: 20%;
        height: 20%;
        margin-right: 5%;
        margin-top: 12%;
        animation: float 5s ease-in-out infinite;
        mix-blend-mode: multiply;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 8px;
        color: #fff;
        background-color: #ff4133;
        padding: 10px;
        border-radius: 11px;
        position: relative;
        box-shadow: -20px 20px #1f1f1f;
        font-family: "Baloo 2", cursive;
      }
      .dialog2:after {
        transform: translatey(0px);
        animation: float2 5s ease-in-out infinite;
        content: ".";
        font-weight: bold;
        -webkit-text-fill-color: #ff4133;
        text-shadow: -22px 22px #1f1f1f;
        text-align: left;
        font-size: 55px;
        width: 55px;
        height: 11px;
        line-height: 30px;
        border-radius: 11px;
        background-color: #ff4133;
        position: absolute;
        display: block;
        bottom: -30px;
        left: -10px;
        box-shadow: -22px 22px #1f1f1f;
        z-index: -2;
      }
      
      @keyframes float {
        0% {
          transform: translatey(0px);
        }
        50% {
          transform: translatey(-20px);
        }
        100% {
          transform: translatey(0px);
        }
      }
      
      @keyframes float2 {
        0% {
          line-height: 30px;
          transform: translatey(0px);
        }
        55% {
          transform: translatey(-20px);
        }
        60% {
          line-height: 10px;
        }
        100% {
          line-height: 30px;
          transform: translatey(0px);
        }
    }
 }

@media only screen and (min-width: 768px){ 
    .footer--container {
        width: 100vw;
        height: 70vh;
    }
    
    .travailX {
        top: 20vh;
        width: 100vw;
        text-align: center;
        position: relative;
    }
    .travailX p {
        width: 100vw;
        font-size: 4em;
        font-weight: bold;
        color: #ead2b8;
        text-align: center;
        background: #000;
        font-family: sans-serif;
        transform: scale(1.3);
        text-align: center;
        text-transform: uppercase;        
    }
    .workTop {
        left: 10px;
    }
    .workBottom {
        left: 12vw;
    }
    
    .letsWork {
        width: 100vw;
        height: 30vh;
        left: 2%;
        color: #000;
        padding: 20px 5px;
        background: #ead2b8;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        transition: background-size .5s, color .5s;
    }
    
    .myAvatar, .myImg {
        top: 8.5vh;
        height: 70%;
        position: relative;
    
    }

    .dialog {
        width: 20%;
        height: 20%;
        margin-left: 8%;
        margin-top: 5%;
        animation: float 5s ease-in-out infinite;
        mix-blend-mode: multiply;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 10px;
        color: #000;
        background-color: #ffa434;
        padding: 10px;
        border-radius: 11px;
        position: relative;
        box-shadow: 20px 20px #1f1f1f;
        font-family: "Baloo 2", cursive;
      }
      .dialog:after {
        transform: translatey(0px);
        animation: float2 5s ease-in-out infinite;
        content: ".";
        font-weight: bold;
        -webkit-text-fill-color: #ffa434;
        text-shadow: 22px 22px #1f1f1f;
        text-align: right;
        font-size: 55px;
        width: 55px;
        height: 11px;
        line-height: 30px;
        border-radius: 11px;
        background-color: #ffa434;
        position: absolute;
        display: block;
        bottom: -30px;
        right: -10px;
        box-shadow: 22px 22px #1f1f1f;
        z-index: -2;
      }

      .dialog2 {
        width: 20%;
        height: 22%;
        margin-right: 8%;
        margin-top: 5%;
        animation: float 5s ease-in-out infinite;
        mix-blend-mode: multiply;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 10px;
        color: #fff;
        background-color: #ff4133;
        padding: 10px;
        border-radius: 11px;
        position: relative;
        box-shadow: -20px 20px #1f1f1f;
        font-family: "Baloo 2", cursive;
      }
      .dialog2:after {
        transform: translatey(0px);
        animation: float2 5s ease-in-out infinite;
        content: ".";
        font-weight: bold;
        -webkit-text-fill-color: #ff4133;
        text-shadow: -22px 22px #1f1f1f;
        text-align: left;
        font-size: 55px;
        width: 55px;
        height: 11px;
        line-height: 30px;
        border-radius: 11px;
        background-color: #ff4133;
        position: absolute;
        display: block;
        bottom: -30px;
        left: -10px;
        box-shadow: -22px 22px #1f1f1f;
        z-index: -2;
      }
      
      @keyframes float {
        0% {
          transform: translatey(0px);
        }
        50% {
          transform: translatey(-20px);
        }
        100% {
          transform: translatey(0px);
        }
      }
      
      @keyframes float2 {
        0% {
          line-height: 30px;
          transform: translatey(0px);
        }
        55% {
          transform: translatey(-20px);
        }
        60% {
          line-height: 10px;
        }
        100% {
          line-height: 30px;
          transform: translatey(0px);
        }
    }
}

@media only screen and (min-width: 992px){ 
    .footer--container {
        width: 100vw;
        height: 100vh;
    }
    
    .travailX {
        top: 15vh;
        width: 100vw;
        text-align: center;
        position: relative;
    }
    .travailX p {
        width: 100vw;
        font-size: 10em;
        font-weight: bold;
        color: #ead2b8;
        background: #000;
        font-family: sans-serif;
        transform: scale(1.3);
        text-align: center;
        text-transform: uppercase;
        position: relative;
        
    }
    .workTop {
        left: 10px;
    }
    .workBottom {
        left: 12vw;
    }
    
    .letsWork {
        width: 100vw;
        height: 30vh;
        left: 2%;
        color: #000;
        padding: 20px 5px;
        background: #ead2b8;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        transition: background-size .5s, color .5s;
    }
    .letsWork:hover {
      color: #D1453F;
    }
    
    .letsWork h1 {
        font-size: 50px;
        text-align: left;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        margin-top: 19vh;

    }
    
    .letsWork h4 {
        font-size: 50px;
        text-align: right;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    .myAvatar, .myImg {
        top: 2vh;
        height: 100%;
        position: relative;
    
    }

    .dialog {
        width: 15%;
        height: 30%;
        margin-left: 10%;
        animation: float 5s ease-in-out infinite;
        mix-blend-mode: multiply;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 15px;
        color: #000;
        background-color: #ffa434;
        padding: 10px;
        border-radius: 11px;
        position: relative;
        box-shadow: 20px 20px #1f1f1f;
        font-family: "Baloo 2", cursive;
      }
      .dialog:after {
        transform: translatey(0px);
        animation: float2 5s ease-in-out infinite;
        content: ".";
        font-weight: bold;
        -webkit-text-fill-color: #ffa434;
        text-shadow: 22px 22px #1f1f1f;
        text-align: right;
        font-size: 55px;
        width: 55px;
        height: 11px;
        line-height: 30px;
        border-radius: 11px;
        background-color: #ffa434;
        position: absolute;
        display: block;
        bottom: -30px;
        right: -10px;
        box-shadow: 22px 22px #1f1f1f;
        z-index: -2;
      }

      .dialog2 {
        width: 15%;
        height: 40%;
        margin-right: 10%;
        animation: float 5s ease-in-out infinite;
        mix-blend-mode: multiply;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 15px;
        color: #fff;
        background-color: #ff4133;
        padding: 10px;
        border-radius: 11px;
        position: relative;
        box-shadow: -20px 20px #1f1f1f;
        font-family: "Baloo 2", cursive;
      }
      .dialog2:after {
        transform: translatey(0px);
        animation: float2 5s ease-in-out infinite;
        content: ".";
        font-weight: bold;
        -webkit-text-fill-color: #ff4133;
        text-shadow: -22px 22px #1f1f1f;
        text-align: left;
        font-size: 55px;
        width: 55px;
        height: 11px;
        line-height: 30px;
        border-radius: 11px;
        background-color: #ff4133;
        position: absolute;
        display: block;
        bottom: -30px;
        left: -10px;
        box-shadow: -22px 22px #1f1f1f;
        z-index: -2;
      }
      
      @keyframes float {
        0% {
          transform: translatey(0px);
        }
        50% {
          transform: translatey(-20px);
        }
        100% {
          transform: translatey(0px);
        }
      }
      
      @keyframes float2 {
        0% {
          line-height: 30px;
          transform: translatey(0px);
        }
        55% {
          transform: translatey(-20px);
        }
        60% {
          line-height: 10px;
        }
        100% {
          line-height: 30px;
          transform: translatey(0px);
        }
    }
 }