@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: #1f1f1f;
  cursor: none;
  color: #fefdfb;
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  text-decoration: none;
  color: inherit;
  cursor: none;
}

ol, ul {
  list-style: none;
}


@media only screen and (min-width: 400px){ 
  .cursor, .outer-cursor , .inner-cursor {
    display: none;
  }
}

@media only screen and (min-width: 600px){ 
  .cursor, .outer-cursor , .inner-cursor {
    display: none;
  }
}

@media only screen and (min-width: 768px){ 
  .cursor, .outer-cursor , .inner-cursor {
    display: none;
  }
}

@media only screen and (min-width: 992){ 
  .cursor {
    z-index: 1000;
    border-radius: 50%;
    pointer-events: none;
    overflow: hidden;
    transform: translate(0, 0, 0);
    position: fixed;
  }
  .outer-cursor {
    width: 25px;
    height: 25px;
    background-color: #EAD2B8;
    mix-blend-mode: difference;


  }

  .inner-cursor {
    width: 20px;
    height: 20px;
    background-color: #000;
    mix-blend-mode: difference;
  }
}