@media only screen and (min-width: 400px){ 
    .me__main--container {
        margin-top: 2%;
        width: 100vw;
        height: 55vh;
        background: #000;
        overflow: hidden;
    }

    .meContent {
        padding: 12vh 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flexdirection: row;
    }

    .wumbaEmail {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .myLinks {
        left: -8%;
        position: relative;
        font-size: 0.7em;
        font-weight: bold;
        color: #D1453F;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    .myLinks a {
        margin: 0 5px;
    }
    
    .myMail {
        top: 2vh;
        left: -4%;
        color: #D1453F;
        cursor: pointer;
        font-size: 0.5em;
        position: relative;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    
    .wumba {
        top: 4.7vh;
        left: 15.5vw;
        width: fit-content;
        line-height: 0.7;
        overflow: hidden;
        font-size: 4.1em;
        position: relative;
        font-family: sans-serif;
        transform: scale(.5, 1);
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    .moi {
        top: 10vh;
        left: 17vw;
        width: 100%;
        color: #ead2b8;
        font-size: 1em;
        position: relative;
        transition: all 0.5s ease-in-out;
    }

    .gaelBuatu {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    .gael {
        font-size: 3em;
        text-align: center;
        font-family: sans-serif;
        text-transform: uppercase;
        padding: 2%;
        width: fit-content;
        color: #000;
        background: #ead2b8;
        transition: all 0.5s ease-in-out;
    }

    .buatu {
        top: 1px;
        left: -20vw;
        width: fit-content;
        font-size: 4.18em;
        line-height: 0.7;
        font-family: sans-serif;
        overflow: hidden;
        position: relative;
        letter-spacing: 1rem;
        transform: scale(.5, 1);
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
}

@media only screen and (min-width: 600px){ 
    .me__main--container {
        margin-top: 2%;
        width: 100vw;
        height: 55vh;
        background: #000;
    }

    .meContent {
        padding: 12vh 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flexdirection: row;
    }

    .wumbaEmail {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .myLinks {
        left: -6vw;
        position: relative;
        font-size: 1em;
        font-weight: bold;
        color: #D1453F;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    .myLinks a {
        margin: 0 5px;
    }
    
    .myMail {
        top: 4vh;
        left: -2vw;
        color: #D1453F;
        cursor: pointer;
        font-size: 0.74em;
        position: relative;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    
    .wumba {
        top: 6.2vh;
        left: 15vw;
        width: fit-content;
        line-height: 0.7;
        overflow: hidden;
        font-size: 6em;
        position: relative;
        font-family: sans-serif;
        transform: scale(.5, 1);
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    .moi {
        top: 10vh;
        left: 18vw;
        width: 100%;
        color: #ead2b8;
        font-size: 1.05em;
        position: relative;
        transition: all 0.5s ease-in-out;
    }

    .gaelBuatu {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    .gael {
        font-size: 4em;
        text-align: center;
        font-family: sans-serif;
        text-transform: uppercase;
        padding: 2%;
        width: fit-content;
        color: #000;
        background: #ead2b8;
        transition: all 0.5s ease-in-out;
    }

    .buatu {
        top: 1px;
        left: -17.6vw;
        width: fit-content;
        font-size: 6em;
        line-height: 0.7;
        font-family: sans-serif;
        overflow: hidden;
        position: relative;
        letter-spacing: 1rem;
        transform: scale(.5, 1);
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
 }

@media only screen and (min-width: 768px){ 
    .me__main--container {
        margin-top: 2%;
        width: 100vw;
        height: 85vh;
        background: #000;
    }

    .meContent {
        padding: 15vh 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flexdirection: row;
    }

    .wumbaEmail {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: end;

    }

    .myLinks {
        left: -16.5vw;
        position: relative;
        font-size: 1.5em;
        font-weight: bold;
        color: #D1453F;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    .myLinks a {
        margin: 0 5px;
    }
    
    .myMail {
        top: 4vh;
        left: -2.5vw;
        color: #D1453F;
        cursor: pointer;
        font-size: 1.35em;
        position: relative;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    
    .wumba {
        top: 10.5vh;
        left: 22vw;
        width: fit-content;
        line-height: 0.7;
        overflow: hidden;
        font-size: 11.1em;
        position: relative;
        font-family: sans-serif;
        transform: scale(.5, 1);
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    .moi {
        top: 20vh;
        left: 5vw;
        width: 100%;
        color: #ead2b8;
        font-size: 1.7em;
        position: relative;
        transition: all 0.5s ease-in-out;
    }

    .gaelBuatu {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    .gael {
        font-size: 7em;
        text-align: center;
        font-family: sans-serif;
        text-transform: uppercase;
        padding: 2%;
        width: fit-content;
        color: #000;
        background: #ead2b8;
        transition: all 0.5s ease-in-out;
    }

    .buatu {
        top: 1px;
        left: -23.4vw;
        width: fit-content;
        font-size: 11.2em;
        line-height: 0.7;
        font-family: sans-serif;
        overflow: hidden;
        position: relative;
        letter-spacing: 1rem;
        transform: scale(.5, 1);
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
 } 

@media only screen and (min-width: 992px){ 
    .me__main--container {
        margin-top: 2%;
        width: 100vw;
        height: 100vh;
        background: #000;
    }

    .meContent {
        padding: 15vh 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flexdirection: row;
    }

    .wumbaEmail {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: end;

    }

    .myLinks {
        left: -24.9vw;
        position: relative;
        font-size: 1.2em;
        font-weight: bold;
        color: #D1453F;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    .myLinks a {
        margin: 0 5px;
    }
    
    .myMail {
        top: -0.01vh;
        left: -1.6vw;
        color: #D1453F;
        cursor: pointer;
        font-size: 2.2em;
        position: relative;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    
    .wumba {
        top: 0.2vh;
        left: 18vw;
        width: fit-content;
        line-height: 0.7;
        overflow: hidden;
        font-size: 18em;
        position: relative;
        font-family: sans-serif;
        transform: scale(.5, 1);
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    .moi {
        top: 2.5vh;
        left: -2.4vw;
        width: 70%;
        color: #ead2b8;
        font-size: 2.4em;
        position: relative;
        transition: all 0.5s ease-in-out;
    }


    .gaelBuatu {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    .gael {
        font-size: 12.7em;
        text-align: center;
        font-family: sans-serif;
        text-transform: uppercase;
        padding: 2%;
        width: fit-content;
        color: #000;
        background: #ead2b8;
        transition: all 0.5s ease-in-out;
    }

    .buatu {
        top: 1px;
        left: -21.3vw;
        width: fit-content;
        font-size: 21.5em;
        line-height: 0.7;
        font-family: sans-serif;
        overflow: hidden;
        position: relative;
        letter-spacing: 1rem;
        transform: scale(.5, 1);
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    
}
