
@media only screen and (min-width: 320px) and (max-width: 479px){ 
    .projects2__main--container {
        width: 100vw;
        height: 50vh;
        background: #000;
        overflow: hidden;
    }


    .coolifyContent {
        margin: 4% 0;
        margin-left: 15%;
        display: flex;
        flex-direction: column;
    }

    .coolifyInfo {  
        display: flex;
        flex-direction: column;
        
        top: -24.2vh;
        left: 57vw;
        position: relative;
    }

    .coolifyInfo p {
        text-align: left;
        width: fit-content;
        font-size: 15px;
        margin-left: 10px;
    }

    .coolifyInfo span{
        font-size: 3em;
        color: #D1453F;
        font-weight: 600;
        margin-left: 5px;
        margin-bottom: 0.3em;
    } 

    .coolifyProjet {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .coolifyProjet h1 {
        top: -12vh;
        left: -24px;
        font-size: 2.5em;
        font-weight: 900;
        position: relative;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    .coolifyProjet h6 {
        top: -11vh;
        left: -8%;
        width: 64%;
        padding: 10px;
        display: flex;
        font-size: 12px;
        border-radius: 6px;
        background: #D1453F;
        flex-direction: column;
        font-family: sans-serif;
        position: relative;
    }

    .coolifyProjet h6 span {
        color: #000;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .coolifyContent img {
        top: 22vh;
        left: -22px;
        width: 72%;
        height: 0%;
        margin-top: 10px;
        position: relative;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
    .projects2__main--container {
        width: 100vw;
        height: 55vh;
        background: #000;
        overflow: hidden;
    }


    .coolifyContent {
        margin: 5% 0;
        margin-left: 15%;
        display: flex;
        flex-direction: column;
    }

    .coolifyInfo {  
        display: flex;
        flex-direction: column;
        
        top: -34.3vh;
        left: 57vw;
        position: relative;
    }

    .coolifyInfo p {
        text-align: left;
        width: fit-content;
        font-size: 20px;
        margin-left: 10px;
    }

    .coolifyInfo span{
        font-size: 4.5em;
        color: #D1453F;
        font-weight: 600;
        margin-bottom: 0.3em;
    } 

    .coolifyProjet {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .coolifyProjet h1 {
        top: -19vh;
        left: -24px;
        font-size: 3.5em;
        font-weight: 900;
        position: relative;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    .coolifyProjet h6 {
        top: -18vh;
        left: -21.5px;
        width: 62%;
        padding: 10px;
        display: flex;
        font-size: 18px;
        border-radius: 6px;
        background: #D1453F;
        flex-direction: column;
        font-family: sans-serif;
        position: relative;
    }

    .coolifyProjet h6 span {
        color: #000;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .coolifyContent img {
        top: 22vh;
        left: -22px;
        width: 67%;
        height: 0%;
        margin-top: 10px;
        position: relative;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
    .projects2__main--container {
        width: 100vw;
        height: 60vh;
        background: #000;
        overflow: hidden;
    }


    .coolifyContent {
        margin: 5% 0;
        margin-left: 15%;
        display: flex;
        flex-direction: column;
    }

    .coolifyInfo {  
        display: flex;
        flex-direction: column;
        
        top: -44vh;
        left: 50vw;
        position: relative;
    }

    .coolifyInfo p {
        text-align: left;
        width: fit-content;
        font-size: 20px;
        margin-left: 10px;
    }

    .coolifyInfo span{
        font-size: 9em;
        color: #D1453F;
        font-weight: 600;
        margin-bottom: 0.3em;
    } 

    .coolifyProjet {
        display: flex;
        flex-direction: column;

        left: 2.5vw;
        position: relative;
    }

    .coolifyProjet h1 {
        top: -25vh;
        left: -24px;
        font-size: 4em;
        font-weight: 900;
        position: relative;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    .coolifyProjet h6 {
        top: -24vh;
        left: -20px;
        width: 47%;
        padding: 10px;
        display: flex;
        font-size: 20px;
        border-radius: 6px;
        background: #D1453F;
        flex-direction: column;
        font-family: sans-serif;
        position: relative;
    }

    .coolifyProjet h6 span {
        color: #000;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .coolifyContent img {
        top: 20vh;

        width: 50%;
        height: 0%;
        margin-top: 10px;
        position: relative;
    }
}

@media only screen and (min-width: 992px){ 
    .projects2__main--container {
        width: 100vw;
        height: 60vh;
        background: #000;
        overflow: hidden;
    }


    .coolifyContent {
        margin: 5% 0;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
    }

    .coolifyInfo {  
        display: flex;
        flex-direction: column;

        top: -3vh;
        left: -26vw;
        position: relative;
    }

    .coolifyInfo p {
        text-align: left;
        width: fit-content;
        font-size: 20px;
    }

    .coolifyInfo span{
        font-size: 9em;
        color: #D1453F;
        font-weight: 600;
        margin-bottom: 0.3em;
    } 

    .coolifyProjet {
        display: flex;
        flex-direction: column;

        left: 2.5vw;
        position: relative;
    }

    .coolifyProjet h1 {
        font-size: 8em;
        font-weight: 900;
        left: -15vw;
        margin-bottom: 0.3em;
        position: relative;
        transform: scale(.5, 2);
        letter-spacing: 0.3em;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    .coolifyProjet h6 {
        width: 43%;
        padding: 10px;
        display: flex;
        font-size: 20px;
        border-radius: 6px;
        background: #D1453F;
        flex-direction: column;
        font-family: sans-serif;
        position: relative;
    }

    .coolifyProjet h6 span {
        color: #000;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .coolifyContent img {
        width: 30%;
        height: 44%;
        margin-top: 10px;
    }
}