
@media only screen and (min-width: 320px) and (max-width: 479px){ 
    .footer--container {
        width: 100vw;
        height: 20vh;
    }
    
    .travailX {
        top: 20vh;
        width: 100vw;
        text-align: center;
        position: relative;
    }
    .travailX p {
        width: 100vw;
        font-size: 1.8em;
        font-weight: bold;
        color: #ead2b8;
        text-align: center;
        background: #D1453F;
        font-family: sans-serif;
        transform: scale(1.3);
        text-align: center;
        text-transform: uppercase;        
    }

    .workBottom {
        left: 2vw;
        position: relative;
    }
    
    .letsWork {
        width: 100vw;
        height: 20vh;
        left: 2%;
        color: #ead2b8;
        padding: 20px 5px;
        background: #000;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        transition: background-size .5s, color .5s;
    }
    .letsWork:hover {
      color: #D1453F;
    }
    
    .letsWork h1 {
        font-size: 15px;
        text-align: left;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        margin-top: 13.6vh;

    }
    
    .letsWork .lets {
        font-size: 15px;
        text-align: left;
        margin-bottom: 13vh;
        display: none;
    }
    
    
    .letsWork h4 {
        font-size: 15px;
        text-align: right;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    h4 .dispo {
        font-size: 10px;
        margin-bottom: 13.6vh;
        display: none;
    }
    
    .myAvatar, .myImg {
        top: 4vh;
        height: 80%;
        position: relative;
    
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
    .footer--container {
        width: 100vw;
        height: 20vh;
    }
    
    .travailX {
        top: 20vh;
        width: 100vw;
        text-align: center;
        position: relative;
    }
    .travailX p {
        width: 100vw;
        font-size: 2.5em;
        font-weight: bold;
        color: #ead2b8;
        text-align: center;
        background: #D1453F;
        font-family: sans-serif;
        transform: scale(1.3);
        text-align: center;
        text-transform: uppercase;        
    }

    .workBottom {
        left: 2vw;
        position: relative;
    }
    
    .letsWork {
        width: 100vw;
        height: 20vh;
        left: 2%;
        color: #ead2b8;
        padding: 20px 5px;
        background: #000;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        transition: background-size .5s, color .5s;
    }
    .letsWork:hover {
      color: #D1453F;
    }
    
    .letsWork h1 {
        font-size: 15px;
        text-align: left;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        margin-top: 13.6vh;

    }
    
    .letsWork .lets {
        font-size: 15px;
        text-align: left;
        margin-bottom: 13vh;
        display: none;
    }
    
    
    .letsWork h4 {
        font-size: 15px;
        text-align: right;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    h4 .dispo {
        font-size: 10px;
        margin-bottom: 13.6vh;
        display: none;
    }
    
    .myAvatar, .myImg {
        top: 0.9vh;
        height: 100%;
        position: relative;
    
    }
 }

@media only screen and (min-width: 768px) and (max-width: 991px){ 
    .footer--container {
        width: 100vw;
        height: 20vh;
    }
    
    .travailX {
        top: 20vh;
        width: 100vw;
        text-align: center;
        position: relative;
    }
    .travailX p {
        width: 100vw;
        font-size: 4.5em;
        font-weight: bold;
        color: #ead2b8;
        text-align: center;
        background: #D1453F;
        font-family: sans-serif;
        transform: scale(1.3);
        text-align: center;
        text-transform: uppercase;        
    }

    .workBottom {
        left: 2vw;
        position: relative;
    }
    
    .letsWork {
        width: 100vw;
        height: 20vh;
        left: 2%;
        color: #ead2b8;
        padding: 20px 5px;
        background: #000;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        transition: background-size .5s, color .5s;
    }
    .letsWork:hover {
      color: #D1453F;
    }
    
    .letsWork h1 {
        font-size: 30px;
        text-align: left;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        margin-top: 13vh;

    }
    
    .letsWork .lets {
        font-size: 20px;
        text-align: left;
        margin-bottom: 9vh;
        display: none;
    }
    
    .myHead {
        background: url("../assets/head.png");
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px;
        transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
    }
    
    .letsWork h4 {
        font-size: 25px;
        text-align: right;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    h4 .dispo {
        font-size: 18px;
        margin-bottom: 9vh;
        display: none;
    }
    
    .myAvatar, .myImg {
        top: 0.9vh;
        height: 100%;
        position: relative;
    
    }

}

@media only screen and (min-width: 992px){ 
    .footer--container {
        width: 100vw;
        height: 100vh;
    }
    
    .travailX {
        top: 20vh;
        width: 100vw;
        text-align: center;
        position: relative;
    }
    .travailX p {
        width: 100vw;
        font-size: 10em;
        font-weight: bold;
        color: #ead2b8;
        background: #000;
        font-family: sans-serif;
        transform: scale(1.3);
        text-align: center;
        text-transform: uppercase;
        position: relative;
        
    }
    .workTop {
        left: 10px;
    }
    .workBottom {
        left: 12vw;
    }
    
    .letsWork {
        width: 100vw;
        height: 30vh;
        left: 2%;
        color: #000;
        padding: 20px 5px;
        background: #ead2b8;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        transition: background-size .5s, color .5s;
    }
    .letsWork:hover {
      color: #D1453F;
    }
    
    .letsWork h1 {
        font-size: 50px;
        text-align: left;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        margin-top: 19vh;

    }
    
    .letsWork h4 {
        font-size: 50px;
        text-align: right;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    .myAvatar, .myImg {
        top: 1.4vh;
        height: 100%;
        position: relative;
    
    }
 }