
@media only screen and (min-width: 320px) and (max-width: 479px){ 
    .loader-container {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 99;
        display: grid;
        place-items: center;
        background: #1f1f1f;
        font-family: 'Sora', sans-serif;
        cursor: none;
        display: flex;
        color: #fff;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
    .counter-container {
        top: 32vh;
        overflow: hidden;
        position: relative;
    }
    
    .counter-container h3 {
        font-size: 30vw;
        line-height: 30vw;
        font-weight: 300;
        font-family: sans-serif;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
    .loader-container {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 99;
        display: grid;
        place-items: center;
        background: #1f1f1f;
        font-family: 'Sora', sans-serif;
        cursor: none;
        display: flex;
        color: #fff;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
    .counter-container {
        top: 48vh;
        overflow: hidden;
        position: relative;
    }
    
    .counter-container h3 {
        font-size: 30vw;
        line-height: 30vw;
        font-weight: 300;
        font-family: sans-serif;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
    .loader-container {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 99;
        display: grid;
        place-items: center;
        background: #1f1f1f;
        font-family: 'Sora', sans-serif;
        cursor: none;
        display: flex;
        color: #fff;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
    .counter-container {
        top: 76vh;
        overflow: hidden;
        position: relative;
    }
    
    .counter-container h3 {
        font-size: 30vw;
        line-height: 30vw;
        font-weight: 300;
        font-family: sans-serif;
    }
}

@media only screen and (min-width: 992px){ 
    .loader-container {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 99;
        display: grid;
        place-items: center;
        background: #1f1f1f;
        font-family: 'Sora', sans-serif;
        cursor: none;
        display: flex;
        color: #fff;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
    .counter-container {
        height: 52vh;
        min-height: 52vh;
        overflow: hidden;
    }
    
    .counter-container h3 {
        font-size: 30vw;
        line-height: 30vw;
        font-weight: 300;
        font-family: sans-serif;
    }
}