.me__main--container {
    margin-top: 5%;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #000;

}

.gael {
    top: 15vh;
    left: 90vh;
    z-index: 2;
    font-size: 15em;
    text-align: center;
    font-family: sans-serif;
    position: relative;
    text-transform: uppercase;
    padding: 2%;
    width: 40%;
    color: #EAD2B8;
    background: #D1453F;
    transition: all 0.5s ease-in-out;
}

.myMail {
    top: -12vh;
    left: 16vw;
    width: 20%;
    z-index: 2;
    color: #D1453F;
    cursor: pointer;
    font-size: 2.1em;
    position: relative;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.wumba {
    top: -9.5vh;
    left: -9.5vw;
    z-index: 2;
    line-height: 0.7;
    overflow: hidden;
    font-size: 18em;
    font-family: sans-serif;
    position: relative;
    transform: scale(.5, 1);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.buatu {
    top: -9vh;
    left: 14.2vw;
    z-index: 2;
    font-size: 18em;
    line-height: 0.7;
    font-family: sans-serif;
    position: relative;
    overflow: hidden;
    letter-spacing: 1rem;
    transform: scale(.5, 1);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.myLinks {
    top: 74vh;
    right: 34vw;
    width: 13%;
    z-index: 2;
    display: flex;
    font-size: 1.5em;
    position: absolute;
    font-weight: bold;
    color: #D1453F;
    text-transform: uppercase;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.moi {
    top: -25vh;
    left: 17vw;
    width: 19%;
    z-index: 2;
    color: #fff;
    font-size: 1.58em;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.post {
    top: -80vh;
    right: 80vw;
    width: fit-content;
    color: #D1453F;
    text-align: center;
    background: #000;
    text-transform: uppercase;
    font-size: 5em;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.alten {
    top: -50vh;
    right: -90vw;
    width: fit-content;
    color: #D1453F;
    text-align: center;
    background: #000;
    text-transform: uppercase;
    font-size: 5em;
    position: relative;
    transition: all 0.5s ease-in-out;

}


/* @media only screen and (min-width: 600px) {
    .me__main--container {
        margin-top: 5%;
        width: 100vw;
        height: 100vh;
        position: relative;
        background: #000;
    
    }
    
    .gael {
        top: 15vh;
        left: 20vh;
        z-index: 2;
        font-size: 4em;
        text-align: center;
        font-family: sans-serif;
        position: relative;
        text-transform: uppercase;
        padding: 2%;
        width: 50%;
        color: #EAD2B8;
        background: #D1453F;
    }
    
    .myMail {
        top: -2vh;
        left: 5vw;
        width: 20%;
        z-index: 2;
        color: #D1453F;
        cursor: pointer;
        font-size: 1.4em;
        position: relative;
        text-transform: uppercase;
    }
    
    .wumba {
        top: 5.8vh;
        left: -20vw;
        z-index: 2;
        line-height: 0.7;
        overflow: hidden;
        font-size: 5em;
        font-family: sans-serif;
        position: relative;
        transform: scale(.5, 1);
        text-transform: uppercase;
    }
    
    .buatu {
        top: 6.6vh;
        left: 12vw;
        z-index: 2;
        font-size: 5em;
        line-height: 0.7;
        font-family: sans-serif;
        position: relative;
        overflow: hidden;
        letter-spacing: 1rem;
        transform: scale(.5, 1);
        text-transform: uppercase;
    }
    
    .myLinks {
        top: 26.5vh;
        width: 16%;
        left: 5%;
        z-index: 2;
        display: flex;
        font-size: 1.3em;
        position: absolute;
        font-weight: bold;
        color: #D1453F;
        flex-direction: column;
        text-transform: uppercase;
    }
    
    .moi {
        top: 25vh;
        left: 10vw;
        width: 85%;
        z-index: 2;
        color: #fff;
        font-size: 2em;
        position: relative;
    }
    
    .post {
        top: -80vh;
        right: 80vw;
        width: fit-content;
        color: #D1453F;
        text-align: center;
        background: #000;
        text-transform: uppercase;
        font-size: 5em;
        position: relative;
    }
    
    .alten {
        top: -50vh;
        right: -90vw;
        width: fit-content;
        color: #D1453F;
        text-align: center;
        background: #000;
        text-transform: uppercase;
        font-size: 5em;
        position: relative;
    }
} */
